body{
    background-color:#186297 ;
}



/* Le container principal. */
.LeContainer{
    /* border: solid blueviolet; */
    height: 40.7rem;
}
/* Parent de la nav */
.parentNav{
   
}

/* NavBar */
nav{
    text-align: center;
 background-color: #124773;
 color: white;
height: 3rem;
font-size:medium;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: italic;
}

/* Parent Infos */
.parentInfos{
    /* border: solid green; */
    height: 12rem;
}
/* Infos */
.infos{

}

/* Container avec les jours et les infos */
.containerJour{
    /* border: solid red; */
    height: 26rem;
}
/* lundi et les autres jours... */
.semaine{
    display: flex;

    border: solid #2e72a5;
    height: 3.6rem;
}

/* perso Semaine */
.pSemaine{
    color: white;
}
/* "Meteo Havraise" */
span{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

/* pARAGRAPHE Le S */
p{
font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

img{
    height: 3rem;
}